* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contact-section {
  background-color: dodgerblue;
  display: flex;
  height: 2.5em;
  width: 100%;
  font-family: sans-serif;
  color: white;
  align-items: center;
  font-size: 13px;
  padding-left: 3em;
  gap: 3em;
}

.nav-section {
  height: 6em;
  width: 100%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
}

.nav-section .logo-wrapper {
  display: flex;
  padding-left: 4em;
  align-items: center;
  gap: 1em;
  font-family: sans-serif;
}
.nav-section .logo-wrapper img {
  object-fit: cover;
  width: 4.5em;
  height: 4.5em;
}
.nav-section .logo-wrapper p {
  font-size: 1.4em;
  font-weight: 550;
  color: rgb(23, 23, 173);
}

.nav-section .menu {
  display: flex;
  font-family: sans-serif;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}
.nav-section button {
  color: white;
  background-color: rgb(255, 115, 0);
  border: none;
  width: 6em;
  height: 2.7em;
  font-size: 17px;
  border-radius: 0.7em;
}
.nav-section .menu p:hover {
  transition: 0.7s;
  background-color: orange;
  padding: 1em;
  border-radius: 0.7em;
}
