@font-face {
  font-family: San Fransisco;
  src: url("Regular.otf");
}
* {
  font-family: San Fransisco;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

body form {
  width: 30em;
  height: 35em;
  background-color: rgb(234, 234, 234);
  color: rgb(240, 239, 239);
  text-align: center;
  border-radius: 1.8em;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.9);
  padding: 1.5em;
}

form h1 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: rgb(58, 58, 58);
}

form input {
  margin-top: 2em;
  width: 70%;
  height: 2.4em;
  border-radius: 0.4em;
  padding-left: 0.6em;
  border: 1px solid gray;
}

form textarea {
  width: 70%;
  height: 6em;
  margin-top: 2em;
  padding: 0.3em;
  resize: none;
  color: gray;
}
form .button-wrapper {
  margin-top: 2em;
  width: 100%;
  height: 3em;

  display: flex;
  justify-content: center;
}
form button {
  width: 70%;
  background-color: #0095ff;
  height: 3em;
  border: none;
  border-radius: 0.4em;
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
}
form button:hover {
  background-color: #76bcee;
}
